/*  ##### C O R E S  O F I C I A I S ##### */

/* Verde: 41d062
Amarelo: fff748
Laranja: ffbd50
Rosa: ff77cb
Azul: 2abaff
Vermelho: EA5959 */

/* #####  G E R A L  ##### */

body {
  font-family: 'Open Sans', sans-serif;
}

/* #####  N A V B A R  ##### */

#navbar-ian {
  background-color: #2abaff !important;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(255, 246, 72, 1) !important;
  -moz-box-shadow: 0px 2px 5px 0px rgba(255, 246, 72, 1) !important;
  box-shadow: 0px 2px 5px 0px rgba(255, 246, 72, 1) !important;
  font-family: 'Economica', sans-serif !important;
  font-size: 20px;
}

.navbar-brand {
  color: #fff748 !important;
  font-size: 22px;
  margin-right: 50px;
}

.simao {
  font-weight: bolder !important;
}

.nav-link:focus,
.nav-link:hover {
  color: #fff748 !important;
}

.nav-link {
  color: #ffffff !important;
}

.fab,
.fa-instagram {
  font-size: 27px;
  color: #ffffff;
}

.fa-instagram:hover {
  color: #fff748;
}

.instagram-navbar {
  width: 80px;
}

#insta-navbar {
  margin-top: 8px;
}

.nav-item {
  margin-right: 20px;
}

/* #####  H O M E P A G E  B O D Y  ##### */

.flex-homepage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 60px 0px;
}

.div-img {
  margin: 0px 5px 0px 0px;
}

.capa-livro {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 500px;
  object-fit: cover;
  overflow: hidden;
  background-color: #ea5959;
  border-radius: 20px;
  margin: 0px;
  padding: 10px;
}

.div-text {
  background-color: #ea5959;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.titulo-livro {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  font-family: 'Economica', sans-serif;
  color: #ffffff;
  letter-spacing: 2px;
  padding: 15px 0px;
  margin: 0px;
}

.desc-livro {
  color: #ffffff;
  font-size: 14px;
  padding: 0px 20px;
  text-align: justify;
}

.compre {
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  background-color: #2abaff;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(255, 246, 72, 1);
  -moz-box-shadow: 1px 1px 1px 0px rgba(255, 246, 72, 1);
  box-shadow: 1px 1px 1px 0px rgba(255, 246, 72, 1);
  border: 0px;
  border-radius: 10px;
  padding: 10px 20px;
  letter-spacing: 2px;
  font-family: 'Economica', sans-serif;
}

.compre:hover {
  color: #fff748;
}

.texto-plataformas {
  font-size: 12px;
  margin: 30px 0px 0px 0px;
}

.plataformas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.americanas {
  height: 30px;
  margin: 15px;
}

.lux {
  height: 40px;
  margin: 15px;
}

.shoptime {
  width: 140px;
  margin: 15px;
}

.amazon {
  width: 110px;
  margin: 15px;
}

.submarino {
  width: 120px;
  margin: 15px;
}

/* #####  F O O T E R  ##### */

.site-footer {
  background-color: #2abaff;
  -webkit-box-shadow: 0px -2px 5px 0px rgba(255, 246, 72, 1);
  -moz-box-shadow: 0px -2px 5px 0px rgba(255, 246, 72, 1);
  box-shadow: 0px -2px 5px 0px rgba(255, 246, 72, 1);
  width: 100%;
  margin: 0px;
}

.titulo-footer {
  padding-top: 20px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  margin: 30px 0px 15px 40px;
  letter-spacing: 1px;
}

.footer-text {
  text-align: left;
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  font-size: 12px;
}

.footer-text li {
  margin-bottom: 10px;
}

.footer-text li a:link,
.footer-text li a:active,
.footer-text li a:visited {
  text-decoration: none;
  list-style: none;
  color: #fff !important;
  padding-left: 5px;
}

.footer-text li a:hover {
  color: #fff748 !important;
}

.fas,
.fa-envelope {
  color: #fff748;
  font-size: 22px;
  margin-right: 5px;
}

#fa-insta-footer {
  color: #fff748;
  font-size: 25px;
  margin-right: 5px;
}

.insta-icon-link {
  width: 25px;
  display: inline;
  text-align: center;
  margin: 0px -5px 5px 35px;
}

.copyright-text {
  margin: 10px 0px 0px 40px;
  padding: 0px 0px 10px 0px;
  font-size: 12px;
  text-align: center;
  color: #fff748;
}

.instagram-footer {
  color: #fff748;
  font-size: 20px;
  margin: 0px 10px 0px 28px;
}

.mail-icon-link {
  margin-left: 35px;
}

/* #####  E S C R I T A S  ##### */

.escritas-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.escritas-div .emdesenvolvimento {
  margin: 30px 0px;
  text-align: center;
  font-size: 25px;
}

.escrita-card {
  background-color: #2abaff;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.livro {
  height: 350px;
}

/* #####  D E S E N H O S  ##### */

.desenho-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.desenho-card {
  margin: 30px 10px;
  background-color: #2abaff;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.titulo-desenho {
  margin: 0px;
  padding-top: 20px;
  font-family: 'Rock Salt', cursive;
  font-size: 20px;
}

.desenho-porta {
  height: 300px;
}

.desenho-livro {
  height: 300px;
}

.desenho-nosmesmos {
  height: 300px;
}

/* #####  B I O  ##### */

.bio-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.div-foto {
  background-color: #ea5959;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 400px;
  border-radius: 20px;
}

.ian {
  width: 350px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 9px 0px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 9px 0px rgba(255, 255, 255, 1);
}

.sobre-ian {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  text-align: left;
  margin-right: 10px;
  background-color: #ea5959;
  width: 500px;
  height: 400px;
  padding: 20px;
  border-radius: 20px;
}

/* #####  M E D I A  Q U E R R I E S #####  */

@media (max-width: 909px) {
  /* ###  I N D E X  ### */

  /* ##  H O M E P A G E  B O D Y  ## */
  .flex-homepage {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
  }

  .div-img {
    width: 400px;
    margin-bottom: 20px;
  }

  .capa-livro {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: auto;
    padding: 10px;
  }

  .div-text {
    width: 400px;
    height: auto;
    padding-bottom: 20px;
  }

  .titulo-livro {
    font-size: 30px;
  }

  .desc-livro {
    font-size: 14px;
  }

  .plataformas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .americanas {
    margin: 20px 0px 0px 0px;
  }

  .lux {
    margin: 20px 0px 0px 0px;
  }

  .shoptime {
    margin: 20px 0px 0px 0px;
  }

  .amazon {
    margin: 20px 0px 0px 0px;
  }

  .submarino {
    margin: 20px 0px 0px 0px;
  }

  /* ##  F O O T E R  ## */
  .site-footer {
    position: initial;
    margin-top: 30px;
  }

  .titulo-footer {
    text-align: center;
    margin: 0px 0px 15px 0px;
  }

  .footer-text {
    font-size: 10px;
  }

  .footer-text li {
    text-align: center;
  }

  .insta-icon-link {
    margin: 0px;
  }

  .copyright-text {
    margin: 0px;
    padding: 20px 0px 15px 0px;
    font-size: 10px;
  }

  .mail-icon-link {
    margin-left: 0px;
  }

  /* ## B I O ## */

  .bio-div {
    flex-direction: column-reverse;
    margin-top: 20px;
  }

  .div-foto {
    margin-bottom: 20px;
  }

  .sobre-ian {
    text-align: justify;
    margin-right: 0px;
  }
}

@media (max-width: 599px) {
  /* ###  I N D E X  ### */

  /* ##  H O M E P A G E  B O D Y  ## */

  .flex-homepage {
    margin: 20px 0px;
  }

  .div-img {
    width: 350px;
    height: auto;
  }

  .capa-livro {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: auto;
    padding: 10px;
  }

  .div-text {
    width: 350px;
  }

  .titulo-livro {
    font-size: 20px;
    padding: 10px;
  }

  .desc-livro {
    font-size: 13px;
  }

  .compre {
    font-size: 20px;
  }

  .americanas {
    height: 25px;
    margin: 15px 0px 0px 0px;
  }

  .lux {
    height: 32px;
    margin: 15px 0px 0px 0px;
  }

  .shoptime {
    width: 120px;
    margin: 15px 0px 0px 0px;
  }

  .amazon {
    width: 95px;
    margin: 15px 0px 0px 0px;
  }

  .submarino {
    width: 105px;
    margin: 15px 0px 0px 0px;
  }

  /* ##  F O O T E R  ## */

  .site-footer {
    margin-top: 30px;
  }

  .titulo-footer {
    text-align: center;
    margin: 0px 0px 15px 0px;
  }

  .footer-text {
    font-size: 10px;
  }

  .footer-text li {
    text-align: center;
  }

  .insta-icon-link {
    margin: 0px;
  }

  .copyright-text {
    margin: 0px;
    padding: 20px 0px 15px 0px;
    font-size: 10px;
  }

  .mail-icon-link {
    margin-left: 0px;
  }

  /* ## B I O ## */

  .div-foto {
    width: 350px;
  }

  .ian {
    width: 320px;
  }

  .sobre-ian {
    width: 350px;
    height: 350px;
    font-size: 15px;
  }

  /* #####  E S C R I T A S  ##### */

  .escritas-div .emdesenvolvimento {
    margin: 20px 0px;
    font-size: 20px;
  }

  .escrita-card {
    width: 350px;
    height: 350px;
  }

  .livro {
    height: 330px;
  }

  /* #####  D E S E N H O S  ##### */

  .desenho-div .emdesenvolvimento {
    margin: 20px 0px;
    font-size: 20px;
  }

  .desenho-card {
    width: 350px;
    height: 350px;
  }

  .porta {
    height: 330px;
  }
}

@media (max-width: 359px) {
  /* ###  I N D E X  ### */

  /* ##  H O M E P A G E  B O D Y  ## */
  .flex-homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .div-img {
    width: 270px;
  }

  .capa-livro {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 270px;
    height: auto;
    padding: 10px;
  }

  .div-text {
    width: 270px;
  }

  .titulo-livro {
    font-size: 25px;
  }

  .desc-livro {
    font-size: 13px;
  }

  .compre {
    font-size: 20px;
  }

  .plataformas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .americanas {
    height: 22px;
    margin: 15px 0px 0px 0px;
  }

  .lux {
    height: 25px;
    margin: 15px 0px 0px 0px;
  }

  .shoptime {
    width: 100px;
    margin: 15px 0px 0px 0px;
  }

  .amazon {
    width: 80px;
    margin: 15px 0px 0px 0px;
  }

  .submarino {
    width: 90px;
    margin: 15px 0px 0px 0px;
  }

  /* ##  F O O T E R  ## */
  .site-footer {
    margin-top: 30px;
  }

  .titulo-footer {
    text-align: center;
    margin: 0px 0px 15px 0px;
  }

  .footer-text {
    font-size: 10px;
  }

  .footer-text li {
    text-align: center;
  }

  .insta-icon-link {
    margin: 0px;
  }

  .copyright-text {
    margin: 0px;
    padding: 20px 0px 15px 0px;
    font-size: 10px;
  }

  .mail-icon-link {
    margin-left: 0px;
  }

  /* ## B I O ## */

  .div-foto {
    width: 260px;
    height: 260px;
  }

  .ian {
    width: 200px;
  }

  .sobre-ian {
    width: 260px;
    height: 350px;
    font-size: 13px;
  }

  /* #####  E S C R I T A S  ##### */

  .escritas-div .emdesenvolvimento {
    font-size: 16px;
  }

  .escrita-card {
    width: 260px;
    height: 260px;
  }

  .livro {
    height: 240px;
  }

  /* #####  D E S E N H O S  ##### */

  .desenho-div .emdesenvolvimento {
    font-size: 16px;
  }

  .desenho-card {
    width: 260px;
    height: 260px;
  }

  .porta {
    height: 240px;
  }
}
